@import 'styles/variables.scss';

.layout {
  &_height {
    height: calc(100vh - 272px);
    @include mq('lg') {
      height: calc(100vh - 75px); // spotify web player height is 72px
    }
  }
  &_nav {
    height: 128px;
    @include mq('lg') {
      height: calc(100vh - 75px);
    }
  }
}
